@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Use this area to provide additional information.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis egestas, mattis velit a, imperdiet libero. Cras sagittis faucibus augue, quis pulvinar tortor aliquam ut. Sed a congue lectus. Ut gravida dolor ac arcu luctus, et cursus lectus cursus. Donec elit elit, interdum eu nisi ac, imperdiet venenatis orci. Etiam sit amet imperdiet velit. Integer bibendum est eu porttitor rhoncus. Phasellus mi mauris, lobortis aliquam pretium in, molestie sit amet sem. Nunc mi tellus, porttitor et orci nec, fringilla aliquet risus. Integer volutpat vehicula justo vitae malesuada. Sed quam libero, ultricies non rutrum et, fermentum eget mauris. Duis ullamcorper id lacus malesuada feugiat. Integer nibh velit, accumsan non tincidunt eget, dignissim et felis. Curabitur facilisis odio at consequat elementum. Vestibulum vitae sodales mi.

        Fusce commodo finibus mollis. Nam tincidunt purus nec pulvinar egestas. Praesent a porttitor nunc, ac aliquam sapien. Cras nec ex bibendum, tempor purus vitae, gravida nulla. Nunc eu sapien semper erat aliquam iaculis. Ut arcu est, accumsan in sapien sed, sollicitudin tincidunt sem. Mauris sodales nibh semper eros sagittis semper.
    </p>
</main>