@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        <strong>Politechnika Białostocka</strong><br />
        ul. Wiejska 45A<br />
        15-351 Białystok<br />
        <abbr title="Phone">P:</abbr> +12 345 678 900
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:informacje@informacje.pl">informacje@informacje.pl</a><br />
        <strong>Website:</strong> <a href="https://pb.edu.pl" target="_blank">pb.edu.pl</a>
    </address>
</main>
